@import 'tailwindcss';
@plugin "daisyui" {
  themes: forest --default;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 0.5s ease-out;
}

.animate-slide-right {
  animation: slideRight 0.5s ease-out;
}
